# Archivos y carpetas a ignorar

# Node.js / JavaScript
node_modules/
dist/
npm-debug.log*

# Archivos comunes del sistema
.DS_Store
Thumbs.db

# Archivos de entorno y config sensibles
.env
*.env
*.log

# Archivos temporales de VS Code
.vscode/
